<?xml version="1.0"?>
<!--
This is a sample web.config.  After compiling the project, put the .dll into the 
bin directory of your web application (or add a reference to the project in vs.net).
After you have the .dll in your asp.net app's bin directory, add the following 
chunks to your web.config file.

-->
<configuration>

	<!-- This chunk sets up the configuration section handler for blowery.web/httpModules/ -->
  <configSections>
    <sectionGroup name="blowery.web">
      <section name="httpCompress" type="blowery.Web.HttpCompress.SectionHandler, blowery.Web.HttpCompress"/>
    </sectionGroup>
  </configSections>
  
  <!-- config section for my http module -->
  <blowery.web>
    <!--
			Here's an example on how to change the algorithm or compression level
			
      <compressionModule preferredAlgorithm="deflate|gzip" compressionLevel="high|normal|low"/>
			
			so, to use deflate by default, and high compression, you would use the following line
			-->
    <httpCompress preferredAlgorithm="gzip" compressionLevel="high">
      <excludedMimeTypes>
        <add type="image/jpeg"/>
        <add type="image/gif"/>
      </excludedMimeTypes>
      <excludedPaths>
        <add path="NoCompress.aspx"/>
      </excludedPaths>
    </httpCompress>
  </blowery.web>
 
  <!-- 
		Here, we insert the HttpModule into the HttpRuntime for this web application.
	-->
  <system.web>
    <compilation debug="true"/>
    <authentication mode="None"/>
    <httpModules>
      <add name="CompressionModule" type="blowery.Web.HttpCompress.HttpModule, blowery.web.HttpCompress"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="throw.aspx" type="Example.ExceptionThrowingHandler, Example"/>
    </httpHandlers>
 </system.web>

</configuration>
